.listenButton {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  svg {
    height: 16px;
    width: 16px;
    fill: #333333;
    &:hover {
      fill: #555555;
    }
  }
}
